.form-box {
  margin-top: 30px;
  background-color: #f3f3f3;
  display: block;
  padding: 20px;
}

.login-button {
    width: 100%;
    border-radius: unset;
    background-color: #e50914;
    color: #f3f3f3;
    height: 50px;
    font-size: 19px;
    border: 3px solid #e50914;
    transition: background-color .5s, color .5s;
    /* box-shadow: 1px 1px 1px black; */
}

.facebook-logo {
  height: 20px;
}

.form-signUp {
  display: inline-block;
  font-size: inherit;
  margin-top: 1em;
}

.input-empty {
  position: relative;
  display: block;
  padding-left: 1em;
  transform: translateY(-1.85em);
  transform-origin: left center;
  opacity: .5;  
  transition: transform .2s, opacity .2s;
  pointer-events: none;
  margin-bottom: 0;  
}

.input-filled {
  transform: translateY(-4em) scale(.75, .75);
  transition: transform .2s, opacity .2s;  
  opacity: .8;
  margin-bottom: 0;
}

.form-group {
  margin-bottom: 0px;
}