.form-box {
  margin-top: 30px;
  background-color: #f3f3f3;
  display: block;
  padding: 20px;
}

.login-button {
    width: 100%;
    border-radius: unset;
    background-color: #e50914;
    color: white;
    height: 50px;
    box-shadow: 1px 1px 1px black;
}

.facebook-logo {
  height: 20px;
}

.form-signUp {
  display: inline-block;
  font-size: inherit;
  margin-top: 1em;
}

.form-label-signUp {
  position: relative;
  display: block;
  padding-left: 1em;
  transform: translateY(-1.85em);
  transform-origin: left center;
  opacity: .3;  
  transition: transform .2s, opacity .2s;
  pointer-events: none;
}

input:invalid + label {
  transform: translateY(-4em) scale(.75, .75);
  opacity: .8;
}