.movie-details-block {
	color:white;
	margin-top: 30px;
}

.movie-title {
	color: white;
}

.MovieInfos {
	margin-top: 50px;
}

#available {
	margin-top: 32px;
}

.img-thumbnail {
	width: 250px;
}

.links_available {
    min-width: 100%;
    height: 275px;
    background-color: #16181D;
}

.coverImg {
	text-align: center;
}

.GenreStyle {
	font-size: 20px;
}

.comment-block {
	margin: 5%;
	padding: 3%;;
	min-height: 300px;
	color: white;
	/* background-color: #21242b; */
}

.cast-box {
	height: 584px;
	background-color: rgba(0, 0, 0, 0.3);
	overflow: scroll;
}

.comment-box {
	min-height: 200px;
	background-color: rgba(0, 0, 0, 0.3);
}

.comment-block h3 {
	margin-left: 10px;
}

.empty-box {
	text-align: center;
	padding-top: 5%;
	font-size: 20px;
}

.input-group {
	padding-right: 5%;
	padding-left: 5%;
}

.imdb_rating {
	font-size: 20px;
}

.embed-responsive-item {
	background-color: black;
}

.hr_cast_item {
	width: 80%;
	border-top: 1px solid rgb(61, 61, 61);
}

.img_cast_item {
    width: 70px;
	height: 70px;
	border-radius: 50%;
	object-fit: contain;
	margin-left: 30px;
	margin-top: 10px;
}

.cast_infos {
	margin-top: 40px;
	margin-left: 30px;
}