.movie-details-block {
	color:white;
	margin-top: 30px;
}

.movie-title {
	color: white;
}

.MovieInfos {
	margin-top: 50px;
}

#available {
	margin-top: 32px;
}

.img-thumbnail {
	width: 250px;
}

.links_available {
	min-width: 100%;
	height: 100px;
	background-color: #171717;
}

.coverImg {
	text-align: center;
}

.GenreStyle {
	font-size: 20px;
}

.comment-block {
	margin: 5%;
	padding: 3%;;
	min-height: 300px;
	color: white;
	/* background-color: #21242b; */
}

.cast-box {
	min-height: 200px;
	background-color: rgba(0, 0, 0, 0.3);
}

.comment-box {
	min-height: 200px;
	background-color: rgba(0, 0, 0, 0.3);
}

.comment-block h3 {
	margin-left: 10px;
}

.empty-box {
	text-align: center;
	padding-top: 5%;
	font-size: 20px;
}

.input-group {
	padding-right: 5%;
	padding-left: 5%;
}

.imdb_rating {
	font-size: 20px;
}

.embed-responsive-item {
	background-color: black;
}