.movie-details-block {
	color:white;
	margin-top: 30px;
}

.movie-title {
	color: white;
}

.MovieInfos {
	margin-top: 50px;
}

#available {
	margin-top: 32px;
}

.img-thumbnail {
	width: 250px;
}

.links_available {
	width: 100%;
	height: 100px;
	border-radius: 10%;
	background-color: #171717;
}

.coverImg {
	text-align: center;
}

.GenreStyle {
	font-size: 20px;
}