.search-box {
    margin-top: 45px;
    position: absolute;
    right: 10px;
    font-size: 17px;
}

.search-input {
    font-size: 14px;
    padding: 7px 14px 7px 7px;
}

.search-input input {
    background: 0 0;
    border: none;
    outline: 0;
}

.search-bar {
    outline: none;
    cursor: pointer;
    color: #f3f3f3;
}

.glyphicon {
    padding: 0 6px;
}

#input-search {
    width: 200px;
}

.container-bar {
    border: none;
    background: 0 0;
    width: 150px;
    -webkit-transition: border 1s, width 1s;
    -moz-transition: border 1s, width 1s;
    transition: border 1s, width 1s;
}

.container-search {
    border: solid 1px rgba(255, 255, 255, .85);
    background: rgba(0, 0, 0, .75);
    width: 300px;
    white-space: nowrap;
    -webkit-transition: border 1s, width 1s;
    -moz-transition: border 1s, width 1s;
    transition: border 1s, width 1s;
}