html {
    position: relative;
    min-height: 100%;
}

body {
    min-height: 100%;
    padding-bottom: 50px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: #21242b;
    color: white;
    margin-top: 30px;
    border-top-style: solid;
    border-top-color: #383A40;
}

.text-footer {
    color: #67DAF9;
    padding-top: 13px;
}

.text-footer:hover {
    text-decoration: none;
}