/* The navigation bar */
.navbar {
    overflow: hidden;
    top: -2px;
    border-bottom: transparent;
    width: 100%;
    margin-bottom: 0px;
    border-radius: 0px;
}

/* Links inside the navbar */
.navbar a {
    float: right;
    font-size: 15px;
    font-weight: 5px;
    color: #67DAF9;
    /* margin: 3% 3%; */
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#logo {
  margin: 20px 50px;
  height: 70px;
}

.button-link {
    font-size: 17px;
    position: absolute;
    right: 10px;
    margin: 0;
    color: #67DAF9;
    top: 34px;
    border-radius: 3px;
    line-height: normal;
    line-height: .5;
    background-color: #383A40;
    transition: color .5s;
}

#sign-out {
    display: inline-block;
}

#sign-in-link:hover {
    color: #3d84c1
}

.navbar-bottom {
    padding-top: 10px;
    height: 50px;
    background-color: #f3f3f3;
    position: fixed; /* Set the navbar to fixed position */
    bottom: 0; /* Position the navbar at the bottom of the page */
    width: 100%; /* Full width */
}

body {
    margin: 0px;
}

.search-bar {
    outline: none;
    cursor: pointer;
    border: none;
    color: #f3f3f3;
    background: 0 0;
    transition: border 1s, width 1s;
}

.search-form {
    border: solid 1px #f3f3f3;
    width: 300px;
    color: #f3f3f3;
    transition: border 1s, width 1s;
    padding: 7px;
    white-space: nowrap;
    margin-top: 45px;
    position: absolute;
    right: 10px;
    font-size: 17px;
}

#search-bar-input {
    display: none;
}

.search-input {
    font-size: 14px;
    padding: 7px 14px 7px 7px;
    background: rgba(0, 0, 0, .75);
    border: solid 1px rgba(255, 255, 255, .85);
}