/* The navigation bar */
.navbar {
    overflow: hidden;
    background: linear-gradient(to bottom,rgba(0,0,0,.5) 0,rgba(0,0,0,0) 100%);
    top: 0;
    border-bottom: transparent;
    width: 100%;
}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.logo {
  margin: 20px 50px;
  height: 50px;
}

.navbar-bottom {
    padding-top: 10px;
    height: 50px;
    background-color: #f3f3f3;
    position: fixed; /* Set the navbar to fixed position */
    bottom: 0; /* Position the navbar at the bottom of the page */
    width: 100%; /* Full width */
}