.movie-container-normal {
    display: inline-block;
    width: 230px;
    margin: 1%;
    transition: all .5s;
    vertical-align: top;
}

.movie-container-bigger {
    display: inline-block;
    transition: all .5s;
    vertical-align: top;
}

.movie-container-bigger:hover {
    display: inline-block;
    vertical-align: top;
    transform: scale(1.05);
}

.movie-details {
    position: relative;
}

.about-movie {
    background-color: black;
    width: 250px;
    height: 80px;
    opacity: 0.7;
    padding: 3%;
}

.movie-title {
    font-size: 20px;
    color: white;
}

.movie-rating {
    font-size: 20px;
    color: white;
}

.img-movie {
    width: 100%;
}

