.movie-details {
	display: inline-block;
    height: 345px;
    width: 230px;
    vertical-align: top;
    margin: 1%;
}

.about-movie {
    position: absolute;
	background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 1),rgba(0, 0, 0, 0) 100%);
    width: 230px;
	height: 120px;
	padding-top: 3%;
	margin-top: -120px;
	text-align: center;
	cursor: pointer;
}

.img-movie {
	width: 100%;
}

.movie-title {
    font-size: 26px;
	color: #81D8F5;
}

.movie-year {
    font-size: 16px;
	color: #81D8F5;
}

.movie-rating {
	font-size: 26px;
	color: #DBB246;
}

.imdb{
	font-size: 16px;
	color: #DBB246;
}

.catalog-box {
	text-align: center;
}