.movie-details {
    display: inline-block;
    height: 345px;
    width: 230px;
    vertical-align: top;
    margin: 1%;
}

.about-movie {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 230px;
    height: 345px;
    padding: 3%;
    margin-top: -345px;
}

.img-movie {
    width: 100%;
}

.movie-text {
    font-size: 20px;
    color: white;
}