.movie-details {
	position: relative;
	display: inline-block;
    height: 345px;
    width: 230px;
    vertical-align: top;
    margin: 1%;
}

.about-movie {
    position: absolute;
	background: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	text-align: center;
	cursor: pointer;
}

.play-button-overlay {
	position: absolute;
	height: 68px;
	width: 68px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
}

.about-movie-text {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 1em;
	color: white;
	-webkit-text-stroke: 0.1px black;
	text-stroke: 0.1px black;
	text-align: left;
}

.about-movie-text > p {
	margin: 0;
	padding: 0;
}

.about-movie-text-title {
	/* position: relative; */
	/* display: block; */
	font-size: 26pt;
	/* word-wrap: break-word; */
	overflow: hidden;
	width: 100%;
}

.about-movie-text-details {
	font-weight: 300;
	display: inline-block;	
}

.about-movie-text-year {
	font-size: 14pt;
	display: inline-block;	
	margin-right: 14pt;
}

.about-movie-text-rating {
	font-size: 10pt;
	display: inline-block;
	transform: translateY(-1px);	
}

.imdb-logo {
	height: 12pt;
	transform: translateY(-1.5px);
}

.img-movie {
	width: 100%;
}

.container-search-bar {
	height: 38px;
}

.movie-title {
    font-size: 26px;
	color: #81D8F5;
}

.movie-year {
    font-size: 16px;
	color: #81D8F5;
}

.movie-rating {
	font-size: 26px;
	color: #DBB246;
}

.imdb{
	font-size: 16px;
	color: #DBB246;
}

.catalog-box {
	text-align: center;
}